In [27]:
from tabula import read_pdf
import pandas as pd

In [96]:
testFile = "/mnt/c/Users/cjuns/Downloads/testing.pdf"
df = read_pdf(testFile,multiple_tables=True,guess=True,pages="all")

In [97]:
df

[                    B illing P eriod Unnamed: 0   B ill Date  Unnamed: 1  \
 0          14 May 2020 - 12 Jun 2020        NaN  14 Jun 2020         NaN
 1                    Current Charges        NaN          NaN         NaN
 2                                NaN      (kWh)          NaN         NaN
 3                                NaN        NaN          NaN         NaN
 4               Electricity Services        NaN          NaN         NaN
 5                           Usage: -        NaN          NaN         NaN
 6                                NaN        NaN          JAN         NaN
 7                                NaN      Usage          419         NaN
 8                                NaN      (kWh)          NaN         NaN
 9                                NaN        NaN          NaN         NaN
 10                      Gas Services        NaN          NaN         NaN
 11  by City Gas Pte Ltd (as Trustee)        NaN          NaN         NaN
 12                   Usage: -251 kWh        NaN          NaN         NaN
 13                               NaN        NaN         JAN*         NaN
 14                               NaN      Usage          101         NaN
 15                               NaN     (Cu M)          NaN         NaN
 16                               NaN        NaN          NaN         NaN

           Account T ype Unnamed: 2       Deposit Unnamed: 3
 0              Domestic        NaN        $35.00        NaN
 1     Consumption Trend        NaN           NaN      Total
 2                   NaN        NaN   - - - - 358        NaN
 3                   NaN        NaN   ------- 428        NaN
 4                   NaN        NaN           NaN          -
 5                   NaN        NaN           NaN        NaN
 6                  FEB*        NaN           NaN        NaN
 7                   105        NaN           NaN        NaN
 8                   NaN        NaN    - - - - 70        NaN
 9                   NaN        NaN    ------- 59        NaN
 10                  NaN        NaN           NaN    -$45.65
 11                  NaN        NaN           NaN        NaN
 12                  NaN        NaN           NaN        NaN
 13  FEB* MAR* APR* MAY*        JUN           NaN        NaN
 14          94 94 53 51       -251           NaN        NaN
 15                  NaN        NaN  - - - - 13.4        NaN
 16                  NaN        NaN  ------- 12.5        NaN  ,
 Empty DataFrame
 Columns: [For cheque payment: Crossed cheque is to be made, Payment Due:, Total Amount Payable:]
 Index: [],
                                   Outstanding Balance  Unnamed: 0      $0.00
 0            Current Charges due on 29 Jun 2020 (Mon)         NaN     $39.29
 1   Total Amount Payable will be charged to your D...         NaN     $39.29
 2         Breakdown of Current Charges Usage Rate ($)  Amount ($)  Total ($)
 3       Gas Services by City Gas Pte Ltd (as Trustee)         NaN        NaN
 4   Reading taken on 12 Jun 2020 : 3866 -69 kWh 0....      -13.18        NaN
 5                                     -134 kWh 0.1799      -24.11        NaN
 6                                     -105 kWh 0.1723      -18.10        NaN
 7                                       57 kWh 0.1711        9.74     -45.65
 8            Water Services by Public Utilities Board         NaN        NaN
 9   Reading taken on 12 Jun 2020 : 1021.0 27.3 Cu ...       33.02        NaN
 10                    Waterborne Fee 27.3 Cu M 0.9200       25.12        NaN,
   Unnamed: 0                                            Notices
 0          l  Payment received on or after 13 Jun 2020 may n...
 1          l  From all of us at SP Group, we wish all custom...
 2          l  Download the SP Utilities app to pay your bill...
 3        NaN                                Contact Information]

In [65]:
for items in df[0].values:
    print(items)

['Current Charges due on 31 Dec 2019 (Tue)' nan nan nan '$171.77']
['Total Amount Payable' nan nan nan '$171.77']
['Breakdown of Current Charges' 'Usage' 'Rate ($)' 'Amount ($)'
 'Total ($)']
['Electricity Services' nan nan nan nan]
['Reading taken on 12 Dec 2019 : 1488' '371 kWh' '0.2343' '86.93' '86.93']
['Gas Services by City Gas Pte Ltd (as Trustee)' nan nan nan nan]
['Gas Estimated on 12 Dec 2019' '91 kWh' '0.1799' '16.37' '16.37']
['Water Services by Public Utilities Board' nan nan nan nan]
['Reading taken on 12 Dec 2019 : 909.6' '18.1 Cu M' '1.2100' '21.90' nan]
['Waterborne Fee' '18.1 Cu M' '0.9200' '16.65' nan]